/* body {
  margin: 0 auto;
} */
.App {
  text-align: center;
  border: 1px solid red;
  max-width: 95vw;
  height: 100%;
  margin: 0 auto;

}
.nav {
  border: 1px solid blue;
}
.header {
  border: 1px solid green;
}
.bookings {
  border: 1px solid orange;
}

.home {
  margin: 0 auto;

}
.home-banner {
  max-width: 70vw;
  border: 5px dashed green;
  /* margin: 0 auto; */
  margin: inherit;


}
.home-banner img {
  width: 50px;
  border: 5px dashed blue;
  object-fit: contain;
  object-position: 50% 0%;

}
